# General
*.log
*.class
.DS_Store
.history
.vscode/

# Flutter App
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.pub-cache/
flutter_app/.pub/
flutter_app/build/
flutter_app/ios/Flutter/.last_build_id

# Android
flutter_app/android/app/debug/
flutter_app/android/app/profile/
flutter_app/android/app/release/

# Backend
backend/node_modules/
backend/.env
backend/generated/

# Development
*.worktrees/
.idea/
*.iml
*.ipr
*.iws
